.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.formEdit1.active{
  display: block!important;
}

.formAdd1.active{
  display: block!important;
}
a{
  text-decoration:none;
}
.btnimg img{
  width: 90%;
  
}
.btnimg{
  float: left;
  width: 225px;
}
/*--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
--*/
/* reset */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,dl,dt,dd,ol,nav ul,nav li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}
article, aside, details, figcaption, figure,footer, header, hgroup, menu, nav, section {display: block;}
ol,ul{list-style:none;margin:0px;padding:0px;}
blockquote,q{quotes:none;}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none;}
table{border-collapse:collapse;border-spacing:0;}
/* start editing from here */
a{text-decoration:none;}
.txt-rt{text-align:right;}/* text align right */
.txt-lt{text-align:left;}/* text align left */
.txt-center{text-align:center;}/* text align center */
.float-rt{float:right;}/* float right */
.float-lt{float:left;}/* float left */
.clear{clear:both;}/* clear float */
.pos-relative{position:relative;}/* Position Relative */
.pos-absolute{position:absolute;}/* Position Absolute */
.vertical-base{	vertical-align:baseline;}/* vertical align baseline */
.vertical-top{	vertical-align:top;}/* vertical align top */
nav.vertical ul li{	display:block;}/* vertical menu */
nav.horizontal ul li{	display: inline-block;}/* horizontal menu */
img{max-width:100%;}
/*end reset*/
body {
    text-align: center;
	font-family: 'Oleo Script', cursive;
}

/*--header--*/
.center-container {
    padding: 0em;
    background: rgba(0, 0, 0, 0.42)
}
.header-w3l {
    padding-top: 2em;
}
.header-w3l h1{
	font-size:3em;
    color:white;
    letter-spacing: 4px;
    font-weight: 500;
    text-transform: uppercase;
}
/*--//header--*/

/*--main--*/
.main-content-agile {
    margin: 7em 0em 3em;
}
.wthree-pro h2 {
    font-size: 1.5em;
    color: #fff;
    letter-spacing: 1px;
    margin-top: 0.3em;
    margin-bottom: 2em;
    font-weight: 400;
}
.sub-main-w3 input[type="email"], .sub-main-w3 input[type="password"] {
    outline: none;
    font-size: 1em;
    padding: 1em 3em 1em 1em;
    border: none;
    margin-bottom: 0.3em;
    background: none;
    border: 1px solid #eee;
    width: 82%;
    color: #fff;
    font-weight: 400;
    font-family: 'Oleo Script', cursive;
    letter-spacing: 1px;
}
.sub-main-w3 {
    position: relative;
    width: 23%;
    margin: 0 auto;
}
.sub-w3l h6 a {
    font-size: 1em;
    color: #fff;
    letter-spacing: 2px;
    display: inherit;
}
.sub-w3l {
    margin-top: 2em;
}
.right-w3l {
    margin-top: 3em;
}
span.icon1, span.icon2 {
    color: #fff;
    font-size: 1.1em;
	position: absolute;
}
span.icon1 {
    top: 27%;
}
span.icon2 {
    top: 49%;
}
span.icon1, span.icon2{
	right:5%;
}
.sub-main-w3 input[type="submit"] {
    color: white;
    background: #2baf2b;
    border: none;
    padding: 8px 0px;
    outline: none;
    width: 38%;
    font-size: 1.1em;
    cursor: pointer;
    letter-spacing: 2px;
    font-weight: 400;
    font-family: 'Oleo Script', cursive;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -o-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -ms-transition: 0.5s all;
}
.sub-main-w3 input[type="submit"]:hover {
    background: #fff;
    color: black;
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-o-transition:0.5s all;
	-moz-transition:0.5s all;
	-ms-transition:0.5s all;
}
/*--//main--*/

/*--footer--*/
.footer {
    padding: 6em 0 3em;
}
.footer p {
    font-size: 1em;
    color: white;
    letter-spacing: 2px;
}
.footer p a {
    color: #2baf2b;
}
.footer p a:hover {
   text-decoration:underline;
}
/*--//footer--*/

/*--responsive--*/

@media(max-width: 1680px){

}
@media(max-width: 1600px){

}
@media(max-width: 1440px){
	.sub-main-w3 {
		width: 26%;
	}
	.sub-main-w3 input[type="email"], .sub-main-w3 input[type="password"] {
		width: 81%;
	}
}
@media(max-width: 1366px){
	.header-w3l h1 {
		font-size: 2.9em;
	}
	.main-content-agile {
		margin: 6em 0em 3em;
	}
}
@media(max-width: 1280px){
	.header-w3l h1 {
		font-size: 2.8em;
	}
	.sub-main-w3 {
		width: 28%;
	}
}
@media(max-width: 1080px){
	.header-w3l h1 {
		font-size: 2.7em;
	}
	.wthree-pro h2 {
		font-size: 1.3em;
		margin-bottom: 1.5em;
	}
	.sub-main-w3 {
		width: 31%;
	}
	.footer {
		padding: 5em 0 2em;
	}
	span.icon1 {
		top: 22%;
	}
	span.icon2 {
		top: 46%;
	}
	.sub-main-w3 input[type="email"], .sub-main-w3 input[type="password"] {
		width: 80%;
	}
	.sub-main-w3 input[type="submit"] {
		font-size: 1em;
	}
}
@media(max-width: 1050px){
	.sub-main-w3 input[type="email"], .sub-main-w3 input[type="password"] {
		width: 79%;
	}
}
@media(max-width: 1024px){
	.header-w3l {
		padding-top: 1.35em;
	}
	.header-w3l h1 {
		font-size: 2.6em;
	}
	.sub-main-w3 {
		width: 33%;
	}
	.footer {
		padding: 4em 0 2em;
	}
	.right-w3l {
		margin-top: 2.5em;
	}
	.main-content-agile {
		margin: 5.75em 0em 3em;
	}
	span.icon2 {
		top: 47%;
	}
	span.icon1 {
		top: 23%;
	}
	span.icon1, span.icon2 {
		right: 6.5%;
	}
}
@media(max-width: 991px){
	.header-w3l h1 {
		font-size: 2.55em;
	}
	.main-content-agile {
		margin: 4em 0em 2em;
	}
	.footer {
		padding: 3em 0 1.5em;
	}
	.right-w3l {
		margin-top: 2.25em;
	}
	span.icon2 {
		top: 48%;
	}
}
@media(max-width: 900px){

}
@media(max-width: 800px){
	.header-w3l h1 {
		font-size: 2.4em;
		letter-spacing: 3px;
	}
	.sub-main-w3 {
		width: 39%;
	}
}
@media(max-width: 768px){
	.header-w3l {
		padding-top: 3em;
	}
	.wthree-pro h2 {
		font-size: 1.25em;
		margin-bottom: 2em;
	}
	.sub-main-w3 {
		width: 41%;
	}
	.right-w3l {
		margin-top: 3em;
	}
	.main-content-agile {
		margin: 8em 0em 4em;
	}
	.footer {
		padding: 6.3em 0 10em;
	}
}
@media(max-width: 736px){
	.header-w3l {
		padding-top: 1.35em;
	}
	.wthree-pro h2 {
		margin-bottom: 1.5em;
	}
	.main-content-agile {
		margin: 4em 0em 2em;
	}
	.right-w3l {
		margin-top: 2.25em;
	}
	.footer {
		padding: 3em 0 1.8em;
	}
	.footer p {
		font-size: 0.95em;
	}
	.sub-main-w3 input[type="email"], .sub-main-w3 input[type="password"] {
		width: 78%;
	}
}
@media(max-width: 667px){
	.header-w3l h1 {
		font-size: 2.25em;
	}
	.wthree-pro h2 {
		font-size: 1.2em;
	}
	.sub-main-w3 input[type="email"], .sub-main-w3 input[type="password"] {
		padding: 0.9em 3em 0.9em 0.9em;
	}
	.main-content-agile {
		margin: 4.4em 0em 2em;
	}
	.footer {
		padding: 3.2em 0 2em;
	}
	.sub-main-w3 {
		width: 45%;
	}
	span.icon1, span.icon2 {
		right: 7%;
		top: 21.5%;
	}
	span.icon2 {
		top: 46.5%;
	}
}
@media(max-width: 640px){
	.sub-main-w3 input[type="email"], .sub-main-w3 input[type="password"] {
		width: 77%;
	}
}
@media(max-width: 600px){
	.sub-main-w3 {
		width: 50%;
	}
	.sub-main-w3 input[type="email"], .sub-main-w3 input[type="password"] {
		width: 78%;
	}
}
@media(max-width: 568px){
	.header-w3l h1 {
		font-size: 2.1em;
	}
	.sub-main-w3 {
		width: 51%;
	}
}
@media(max-width: 480px){
	.header-w3l h1 {
		font-size: 2em;
	}
	.wthree-pro h2 {
		font-size: 1.15em;
	}
	.sub-main-w3 {
		width: 58%;
	}
	.sub-main-w3 input[type="email"], .sub-main-w3 input[type="password"] {
		width: 76%;
	}
	.footer p {
		line-height: 2;
	}
}
@media(max-width: 414px){
	.header-w3l h1 {
		font-size: 1.8em;
	}
	.wthree-pro h2 {
		font-size: 1.1em;
	}
	.sub-main-w3 {
		width: 62%;
	}
	.sub-main-w3 input[type="email"], .sub-main-w3 input[type="password"] {
		width: 74%;
	}
	.footer {
		padding: 4.95em 0 3.2em;
	}
}
@media(max-width: 384px){
	.header-w3l h1 {
		font-size: 1.6em;
		letter-spacing: 2px;
	}
	.sub-main-w3 input[type="email"], .sub-main-w3 input[type="password"] {
		padding: 0.8em 3em 0.8em 0.9em;
	}
	.sub-main-w3 {
		width: 70%;
	}
	.sub-main-w3 input[type="submit"] {
		letter-spacing: 1px
	}
	.footer {
		padding: 3em 0 1.6em;
	}
	.footer p {
		font-size: 0.9em;
	}
}
@media(max-width: 375px){
	.footer {
		padding: 3.2em 0 1.6em;
	}
}
@media(max-width: 320px){
	.header-w3l h1 {
		font-size: 1.45em;
	}
	.wthree-pro h2 {
		font-size: 1em;
	}
	.sub-main-w3 input[type="email"], .sub-main-w3 input[type="password"] {
		font-size: 0.9em;
	}
	.main-content-agile {
		margin: 2.5em 0em 1em;
	}
	.sub-w3l h6 a {
		font-size: 0.9em;
	}
	.sub-main-w3 input[type="submit"] {
		padding: 7px 0px;
		width: 42%;
	}
	.right-w3l {
		margin-top: 2em;
	}
	.footer p {
		font-size: 0.85em;
		letter-spacing: 1px;
	}
	.footer {
		padding: 2.2em 0 1.4em;
	}
}
.dark img{
	width: 40%;
	height: 40%;
}
.menu-menu-about-container ul li a{
	text-decoration: none;
	color: #859293;
}
.menu-menu-about-container ul li{
	margin-top:10px
}
.contact-info li a{
	text-decoration: none;
	color: #859293;
}
.contact-info li{
	margin-top:10px;
	color: #fff;
}
.menu-menu-support-container ul li a{
	text-decoration: none;
	color: #859293;
}
.menu-menu-support-container ul li{
	margin-top:10px
}
.col-inner p{
	color: #859293;
	margin-top: 10px;
}
.wpcf7-form p{
	display: flex;
}
.email-dangky input{
	width: 100%;
	height: 40px;
}
#bt-gui{
	background: red;
	color: #fff;
}
.copyright-footer a{
	color: #859293;
	text-decoration: none;
}
.layoutwebsite li{
	line-height: 55px;
}
.layoutwebsite{
	height: 55px;
}
.layoutwebsite{
	background: black;
}
.layoutwebsite li a{
	color: #fff;
	font-weight: bold;
}
.layoutwebsite li a:hover{
	color: red;
}
.layoutadmin{
	background: black;
	height: 55px;
}
.layoutadmin li{
	line-height: 55px;
}
.layoutadmin li a{
	color: #fff;
	font-weight: bold;
}
.layoutadmin li a:hover{
	color: red;
}
.mona_sidebar_footer,.col-inner h3{
	color: rgb(255 0 0 / 85%);
}
.table-bordered{
	width: 90%;
	margin: auto;
}
.table-bordered tr td img{
	width: 35%;
}
.table-bordered tr td{
	width: 20%;
}
.table-bordered tr th{
	width: 10%;
	font-weight: bold;
}
.product-detail img{
	width: 27%;
}
#row-881563621{
	margin-top:50px;
	background: #1f1919;
    padding: 30px;
	width: 101%;
}
.text-center{
	background: #1f1919;
	color: #fff
}
.product-detail h2{
	color: red;
}
.my-sm-0{
	background: black;
}
.card{
	width: 18rem;
	float: left;
	margin-left: 12px;
	background: #abadb1;
	margin-top: 35px;
}
.card-text{
	color:black;
}
.btn-primary:hover{
	background: red;
}
.btn-primary{
	background: #533a3a;
}
.product-detail{
	display: flex;
    align-items: center;
    margin-left: 100px;
    height: 500px;
}
.chitiet{
	margin-left: 50px;
	margin-bottom: 250px;
}
.col-sm-7{
	margin: auto;
	display: grid;
grid-template-columns: 40% 1fr;
}
.product-info h1{
	color: red;
	font-size:30px;
}
.product-property-options {
    display: flex;
}
section.view-product .product-info h1 {
    font-size: 1.3rem;
    margin: 0 0 5px 2px;
}
.product-property-options>.property-option {
    margin-right: 5px;
    padding: 2px;
    cursor: pointer;
    margin-bottom: 5px;
}
.product-property-options>.property-option>input {
    display: none;
}
.product-property-options>.property-option>.property-option-label {
    min-width: 32px;
    min-height: 32px;
    max-height: 50px;
    border: 1px #999 solid;
}
.product-property-options>.property-option>.property-option-label>span {
    display: block;
    min-width: 20px;
    height: 20px;
    padding: 7px;
    text-align: center;
}
.product-quantity>.product-quantity-label {
    margin-bottom: 5px;
}
.product-quantity-options {
    display: flex;
}
.product-quantity-options>.quantity-option {
    margin-right: 5px;
    padding: 1px;
    cursor: pointer;
    margin-bottom: 5px;
}
.product-quantity-options>.quantity-option>input {
    display: none;
}
.product-property-options>.property-option>input:checked+.property-option-label, .product-quantity-options>.quantity-option>input:checked+.quantity-option-label {
    border: 1px #e32124 solid;
    position: relative;
    overflow: hidden;
}
.product-quantity-options>.quantity-option>.quantity-option-label>span {
    display: block;
    min-width: 20px;
    height: 20px;
    padding: 7px;
    text-align: center;
}
.product-quantity-options>.quantity-option>.quantity-option-label {
    min-width: 36px
px
;
    min-height: 32px;
    border: 1px #999 solid;
}
.order-form h3.headline {
    color: #dd085a;
    text-align: center;
}
.order-form .text-input {
    margin: 5px 0;
}
.text-input {
    display: block;
    width: calc(100% - 0.6rem - 2px);
    padding: 0.3rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.6;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0,40,100,.12);
    border-radius: 3px;
}
.hvr-pulse-shrink {
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
}

.btnSubmitOrder {
    box-shadow: 3px 4px 0 0 #8a2a21;
    background: linear-gradient(to bottom,#c62d1f 5%,#f24437 100%);
    background-color: #c62d1f;
    border-radius: 5px;
    border: 1px solid #d02718;
    display: block;
    cursor: pointer;
    color: #fff;
    font-family: Arial;
    font-weight: 700;
    padding: 8px 20px;
    margin: 20px auto 15px auto;
    text-decoration: none;
    text-shadow: 0 1px 0 #810d05;
}
.table-bordered {
    width: 100%;
}
.product-info{
	margin-left: 20px;
}
.sanphamlienquan{
	font-size:30px;
	margin-top:30px;
}

/* data =[1,2];
link = "link";

dataAll = [...data, link] */
